@import "tailwindcss";

@layer base {
  a, button {
    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}

:root {
  background-color: #000;
  color: #fff;
}