CLOUDINARY_CLOUD_NAME=mediaflows_ff30d646-584d-453d-a345-19967d10d7bd 
CLOUDINARY_API_KEY=665315259842421
CLOUDINARY_API_SECRET=XQD7zlTIW3WPVD7gpCE_Fv38I_s
CLOUDINARY_URL=cloudinary://665315259842421:XQD7zlTIW3WPVD7gpCE_Fv38I_s@mediaflows_ff30d646-584d-453d-a345-19967d10d7bd
CLOUDINARY_UPLOAD_PRESET=your_upload_preset

# Optional but recommended for this project
NODE_ENV=development
PORT=3000
OAUTH_SERVER_URL=